<div class="jumbotron text-center">
	<h1>Get Shortened</h1>
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
			<form class="form">
				<div class="form-group">
					<input class="form-control" ng-change="resetInput();" ng-model="original" type="text" placeholder="ej: http://ejemplo.com">
				</div>
				<button class="btn btn-primary" type="submit" ng-disabled="!original || original == ''" ng-click="callService();"> GO! <i class="glyphicon glyphicon-chevron-right"></i></button>
			</form>
		</div>
	</div>
	<div class="row" style="margin-top:15px;">
		<div class="col-sm-6 col-sm-offset-3">
			<div class="alert alert-info" ng-if="message">
				<strong>Congrats!</strong> <a href="" ng-click="goTo();">{{origin}}/{{url.shortened}}</a>
			</div>
		</div>
	</div>
</div>
